{% extends "base.html" %}



{% block contenido %}


<h1>Listado de usuarios</h1>

<a class="btn btn-success" href="/usuarios/add">Añadir nuevo usuario.</a>
<hr>

<table id="mitabla" class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombres</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}

    <tr>
      <td>{{usuario.id}}</td>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.estado}}</td>
      <td>
        <a class="btn btn-primary" href="/usuarios/edit/{{usuario.id}}"> <i class="fa-solid fa-pen-to-square"></i> </a>

        <form class="form-inline" action="/usuarios/eliminar/{{usuario.id}}" method="post">
          <button id="boton" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
        </form>
      </td>
    </tr>


    {% endfor %}

  </tbody>
</table>



{% endblock %}


{% block script %}

<script>
  let table = new DataTable('#mitabla');
</script>

{% endblock %}
