{% extends "base.html" %}



{% block contenido %}

<h1>Crear Nuevo Usuario</h1>

<hr>  

<form method="POST" action="/usuarios/guardar">
    <div class="form-group">
      <label for="nombres">Nombres</label>
      <input required type="text" class="form-control" id="nombres" name="nombres">
    </div>

    <div class="form-group">
        <label for="estado">Estado</label>
        <select id="estado" name="estado" class="form-control">
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </select>
      </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<hr>
<h1>Listado de usuarios</h1>


<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}

        <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.estado}}</td>
            <td> 
                <a class="btn btn-primary" href="/usuarios/editar/{{usuario.id}}"> <i class="fa-solid fa-pen-to-square"></i> </a> 
                <a class="btn btn-danger" href="/usuarios/eliminar/{{usuario.id}}"> <i class="fa-solid fa-trash"></i> </a>
            </td>
        </tr>


        {% endfor %}
      
    </tbody>
  </table>



{% endblock %}
